{% extends "base.html" %}

{% block edit %}
<br>
<!--    <div class="container">-->
<form role="form" class="form-inline" action="/admin/edit" method="post">
    {{ blog_form.csrf_token }}

    <!--    <div class="container">-->
    <div class="container">
        <div class="row">
            {{ blog_form.hidden_tag() }}
            {{ blog_form.title.label }}&nbsp&nbsp{{ blog_form.title(class="form-control",placeholder="请输入标题") }}&nbsp&nbsp
            {{ blog_form.category.label }}&nbsp&nbsp{{ blog_form.category(id="category_select") }}&nbsp&nbsp
            {{ blog_form.submit(class="btn btn btn-outline-primary") }}


        </div>
    </div>
                <br>
                <br>
    <div id="editor">
        <textarea style="display:none;"></textarea>
    </div>

</form>


<!--    </div>-->
{% endblock %}

{% block edit_script %}
<script src="../static/editor.md/editormd.js"></script>
<script>
    var editor = editormd("editor", {
        width: "90%",
        height: "750px",
        markdown: "",
        path: "../static/editor.md/lib/"
    });

</script>
<script>
    $('#category_select').select2({
        placeholder: '请选择',
        width: 30px,
    });
</script>
{% endblock %}