{% extends "base.html" %}

{% block edit %}
<br>
<!--    <div class="container">-->
<form role="form" class="form-inline" action="/admin/edit" method="post">

    <!--    <div class="container">-->
    <div class="container">
        <div class="row">

            <!--            <div class="form-row align-items-center">-->

            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">标题</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="标题">
                </div>
            </div>

            <select class="form-control" id="category_select">
<!--                <option value=""></option>-->
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            &nbsp&nbsp&nbsp
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button " class="btn btn-primary" style="height:85%">发布</button>
                <button type="button" class="btn btn-secondary" style="height:85%">保存</button>
            </div>
        </div>


    </div>
    <!--    </div>-->
    <br>
    <br>
    <div id="editor">
        <textarea style="display:none;"></textarea>
    </div>

</form>


<!--    </div>-->
{% endblock %}

{% block edit_script %}
<script>
    var editor = editormd("editor", {
        width: "90%",
        height: "750px",
        markdown: "",
        path: "../static/editor.md/lib/"
        saveHTMLToTextarea : true,  // 开启获取 html 源码
            flowChart : true,//控制流程图编辑
            sequenceDiagram : true,//控制时序图编辑
            taskList : true,//任务列表
            tex  : true,//科学公式
            emoji : true,//moji表情
            //htmlDecode : true,
            htmlDecode : "style,script,iframe|on*", // 开启 HTML 标签解析，为了安全性，默认不开启
            codeFold : true,    //ctrl+q代码折叠
            imageUpload : true,//开启本地图片上传
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/image",//图片上传接口
            dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            testEditor.getMarkdown(); //获取md
            testEditor.getHTML();     //获取html

    });

</script>

<script>
    var select = $('#category_select').select2({
        placeholder: "类别"，
        width: 70%
    })
</script>

{% endblock %}