<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Lee Blog</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/blog/index">Lee Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/index">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        项目
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item active">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="/admin/index">管理 <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="/admin/release">发布 <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="/auth/logout">退出 <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<main>
    {% block br_1 %}
    {% endblock %}
    <div class="container">
        {% block row %}
        {% endblock %}
    </div>
    {% block br_2 %}
    {% endblock %}
</main>

<footer>
    <div class="card-body text-center">
        <p class="card-text">Copyright&nbsp;©&nbsp;<span id="year-info">2024</span>
            <a href="http://beian.miit.gov.cn/" class="text-decoration-none footer-a"
               target="_blank">湘ICP备2020018236号-1</a>
        </p>
    </div>
</footer>

<!-- jQuery 和 Bootstrap 包 -->
<script src="../static/jquery-3.5.1.js"></script>
<script src="../static/js/bootstrap.js"></script>

</body>
</html>